/* General Styles */
body {
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #151010;
  }
  
  /* Container */
  .employee-list-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border-color:rgb(57, 56, 56);
    border-style:solid ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Header */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #141415;
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  thead tr {
    background-color: #ff7200;
    color: white;
    border-radius: 8px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #1e1c1c;
    border-radius: 2px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Links */
  a {
    color: #982424;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .employee-list-container {
      padding: 10px;
    }
  
    table {
      font-size: 14px;
    }
  }
  